:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f45b69;
}

.form-container {
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.25);
    max-width: 480px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 0.5rem;
}

.input-group:not(:has(input[type="radio"])) {
    grid-column: 1/span 2;
    display: flex;
    margin: auto;
}

.input-group > * {
    margin: 0 0.25rem;
}

input:not([type="radio"]) {
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 1.5px solid #00000099;
    padding: 4px;
}

button {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 0.2rem 0.4rem;
    border: 0;
    border-radius: 5px;
    background-color: #f45b69;
}

    button:hover {
        background-color: #f24353;
    }

    button:focus {
        outline: 2px solid #f45b69;
    }

table{
    width: 100%;
}